<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqk.protoss.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.gqk.protoss.entity.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="snap_img" property="snapImg" jdbcType="VARCHAR" />
    <result column="snap_name" property="snapName" jdbcType="VARCHAR" />
    <result column="total_count" property="totalCount" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="snap_address" property="snapAddress" jdbcType="VARCHAR" />
    <result column="prepay_id" property="prepayId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gqk.protoss.entity.Order" extends="BaseResultMap" >
    <result column="snap_items" property="snapItems" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, user_id, delete_time, create_time, total_price, status, snap_img, snap_name, 
    total_count, update_time, snap_address, prepay_id
  </sql>
  <sql id="Blob_Column_List" >
    snap_items
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gqk.protoss.entity.Order" >
    insert into order (id, order_no, user_id, 
      delete_time, create_time, total_price, 
      status, snap_img, snap_name, 
      total_count, update_time, snap_address, 
      prepay_id, snap_items)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{deleteTime,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, 
      #{status,jdbcType=TINYINT}, #{snapImg,jdbcType=VARCHAR}, #{snapName,jdbcType=VARCHAR}, 
      #{totalCount,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, #{snapAddress,jdbcType=VARCHAR}, 
      #{prepayId,jdbcType=VARCHAR}, #{snapItems,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gqk.protoss.entity.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="snapImg != null" >
        snap_img,
      </if>
      <if test="snapName != null" >
        snap_name,
      </if>
      <if test="totalCount != null" >
        total_count,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="snapAddress != null" >
        snap_address,
      </if>
      <if test="prepayId != null" >
        prepay_id,
      </if>
      <if test="snapItems != null" >
        snap_items,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="snapImg != null" >
        #{snapImg,jdbcType=VARCHAR},
      </if>
      <if test="snapName != null" >
        #{snapName,jdbcType=VARCHAR},
      </if>
      <if test="totalCount != null" >
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="snapAddress != null" >
        #{snapAddress,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null" >
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="snapItems != null" >
        #{snapItems,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gqk.protoss.entity.Order" >
    update order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="snapImg != null" >
        snap_img = #{snapImg,jdbcType=VARCHAR},
      </if>
      <if test="snapName != null" >
        snap_name = #{snapName,jdbcType=VARCHAR},
      </if>
      <if test="totalCount != null" >
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="snapAddress != null" >
        snap_address = #{snapAddress,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null" >
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="snapItems != null" >
        snap_items = #{snapItems,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gqk.protoss.entity.Order" >
    update order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      snap_img = #{snapImg,jdbcType=VARCHAR},
      snap_name = #{snapName,jdbcType=VARCHAR},
      total_count = #{totalCount,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      snap_address = #{snapAddress,jdbcType=VARCHAR},
      prepay_id = #{prepayId,jdbcType=VARCHAR},
      snap_items = #{snapItems,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gqk.protoss.entity.Order" >
    update order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      snap_img = #{snapImg,jdbcType=VARCHAR},
      snap_name = #{snapName,jdbcType=VARCHAR},
      total_count = #{totalCount,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      snap_address = #{snapAddress,jdbcType=VARCHAR},
      prepay_id = #{prepayId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>